.doc{
    border-radius: 30px;  
    box-shadow: 1px 1px 10px 1px;
}
.doc:hover{
    background: linear-gradient(to right , white , rgb(221, 220, 220));
    transform: scale(1.02);
    box-shadow: 1px 1px 30px 1px;
}

.visit{
    margin-top: 20px;
}
