.about{
    background: white;
    border-radius: 20px;
}
.left-content{
    width: 45%;
    
}
.right-content{
    width: 45%;
}
.about-bottom{
    display: flex;
    justify-content: center;
}
.about-top{
    display: flex;
    justify-content: center;
}
.bottom-content{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width:992px) {
    .bottom-content{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        text-align: center;
        
    }
    .right-content{
       padding-left: 80px;
        
    }
    .left-content{
        padding-left: 80px;
        
    }
    .about-bottom{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .about-top{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    
}